<div id = "areas" class = "container-fluid">
  <h1>
    The best area to stay in 
    <span id = "city-name"><%= @city %></span> 
    is 
  </h1>
  <div id="search-results">
    <div id="primary-area" class="row-fluid">
      <h2>River North</h2>
    </div>
    <div id = "secondary-areas" class="row-fluid">
      <span class="span4 offset8">see other areas</span>
    </div>
  </div>

  <div id="area-description" class="span10 center">
    River North is located just north of the Chicago River. Here you will find the magnificent
    mile, great restaurants, and plenty of sights to see.
  </div>
  
</div>