<div id = "home-container" class = "container-fluid no-padding">
  <div id = "home-hero" class= "hero-unit">
    <h1 class = "pull-left">Find the best area to stay</h1>
    <div id = "search-bar" class="row-fluid">
        <%= form_tag(search_path, :method => :get, :id=> "home-search") do %>
        <div class="span10">
          <%= text_field_tag(:place, nil, :placeholder => 'Enter a city') %>
         </div>
         <div class="span2">
        <%= submit_tag("Search" , :name => nil, :class => "search-submit btn", :id=>"Search") %>
        </div>
        <%end%>
    </div>
  </div>

  <div id="popular-areas" class = "row-fluid">
    <h2> Popular Areas </h2>
  </div>

   <%= render 'layouts/footer' %>
</div>