<%= form_for([:admin,@admin_area]) do |f| %>
  <% if @admin_area.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_area.errors.count, "error") %> prohibited this admin_area from being saved:</h2>

      <ul>
      <% @admin_area.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
