<div id = "areas" class = "container-fluid">
  <div class = "row">
    <div class = "col-sm-12">
      <h1> <%= @admin_area.name %> </h1>
      <span><%= link_to 'Edit', edit_admin_area_path(@admin_area) %></span>
      <span><%= link_to 'Destroy', admin_area_path(@admin_area), method: :delete, data: { confirm: 'Are you sure?' } %></span>
    </div>
  </div>
  <div class = "row">
    <%= content_tag :div, :id => 'map', :data => {:map_id => @admin_area.id} do %>
        <div id = "map-canvas">
        </div>
    <%end%>
  </div>

 </div>


