<div id = "areas" class = "container-fluid no-padding">
  <h1>
    The best area to stay in 
    <span id = "city-name"><%= @city %></span> 
    is 
  </h1>
  <div id="search-results">
    <div class="row-fluid primary">
      <h2>River North</h2>
    </div>
    <div class="row-fluid secondary">
      <span id = "more-areas" class="span3 offset9">see more areas</span>
      <span class="span3 offset3"><%= link_to "add new area" ,new_area_path(:city => @city) %></span>
    </div>
  </div>

  <div id="area-description" class="span10 center">
    River North is located just north of the Chicago River. Here you will find the magnificent
    mile, great restaurants, and plenty of sights to see.
  </div>

  <div id="map">
    <h2>The Map</h2>
    <div id="map-canvas">
    </div>
  </div>
</div>