<div id = "areas-container" class = "container-fluid">
  <div class = "row">
    <div class = "col-sm-12">
      <h1>
        The best area to stay in <span id = "city-name"><%= @city %></span> is 
      </h1>
    </div>
  </div>
  <div class = "row">
    <div class = "col-sm-12">
      <h2>still up for grabs</h2>
      <%= link_to "Tell us where you like to stay." , new_area_path(:state => @state, :city => @city) %>
    </div>
  </div>
</div>

