<div id = "new-area" class="container-fluid">
<div class = "row">
  <span class = "col-md-10 col-md-offset-1">
  <h1>Where's the best area to stay in <%= @city %>?</h1>
  </span>
</div>

  <%= render 'form' %>
</div>
