<div id = "areas-container" class = "container-fluid">
  <div class = "row">
    <span class = "col-sm-12">
      <h1> The best area to stay in <span id = "city-name"><%= @city %></span> is  <%= @area.name %></h1>
    </span>
  </div>
  <div class = "row">
    <span class = "col-sm-12">
      <ul class = "area-list">
        <% @areas.each_with_index do |index, area| %>
          <li> @area.name </li>
        <%end%>
     </ul>
    </span>
  </div>

  <div class = "row">
    <div class = "col-sm-12">
      <%= content_tag :div, :id => 'map', :data => {:map_id => @area.id, :state => @state, :city => @city} do %>
          <div id = "map-canvas">
          </div>
      <%end%>
    </div>
  </div>

  <div class = "row">
    <div class = "col-sm-12">
      <h2><%= @area.name %></h2>
      <p> River North area Description goes here </p>
    </div>
  </div>
  <div class = "row">

    <div class = "hotels col-md-4">
      <h3> Hotels </h3>
    </div>

    <div class = "restaurants col-md-4">
      <h3> Restaurants </h3>
    </div>

    <div class = "attractions col-md-4">
      <h3> Attractions </h3>
    </div>
  </div>
 </div>





