// Place all the styles related to the overlays controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map, #edit-map, #new-map{
    width:100%;
}

//fixes distorted scroll bar on map
#map img, #edit-map img, #new-map img { max-width: none; }

#map-canvas{
  height:550px;
  border-top:1px solid #555;
  border-bottom: 1px solid #555
}

#area-list{
  margin:0;
  padding:0;
}

#new_area_name{
  width:100%;
}

#new-area h1, #edit-area h1 {
  padding-top: 1em;
  padding-bottom: .5em;
  font-weight: normal;
  color: #707070;
}


#remove-overlay{
  text-decoration:underline;
}

#remove-overlay:hover{
  cursor:pointer;
}

#new-area select{
 
  font-size:18px;
 
}

#new-area input[type='text']{
  font-size: 30px;
   box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
}

.primary{
  background-color:#42AAE8;
  cursor:default;
  padding: 60px 20px 50px 20px;
}

#areas-container h1, #area-info h2{
  padding-top:1em;
  padding-bottom:.5em;
  font-weight:normal; 
  color:#707070;
}

#areas {
  border-top:1px solid #555;
  border-bottom:1px solid #555;
}

#area-info h2{
  font-size: 2.2em;
}

.select-area {
  margin-bottom:6%;
}

#area_id, #area_name {
    width:100%;
    height:50px;
}
.first-area{
  padding-top:10%;
  font-size:20px;
}

.first-area a{
  color: #fff;
  text-shadow: 1px 1px 2px #444;
}

.first-area a:hover{
  color:#fff;
}
.primary, .secondary {
  text-decoration:none;
}

.secondary h2 {
  margin: 1em 0;
  font-size: 2.25em;
  color: #444;
  font-weight:normal;
}

.secondary h3 {
  font-size: 1.6em;
  margin: 1.65em 0;
  color: #444;
  font-weight:normal;
}

#additional-areas{
  background-color:#42AAE8;
  a {
    color:#fff;
    padding-left:20px;
  }
}

.primary h2{
  color:#fff;
  font-size: 6em;
  margin:0;
  text-shadow: 1px 1px 2px #444;
}

.primary .area-tally{
  text-align:center;
  padding-top:20px;
  color:#fff;
  text-shadow: 1px 1px 2px #444;
}

.secondary{
  cursor:pointer;

  display:none;
  
}

.secondary .span8{
  margin-left: 17.02128% !important;
 }


#show-more, #add-area{
  cursor:pointer;
  padding: 4px 0px 0 20px;
  color: #fff;
  text-shadow: 1px 1px 2px #444;
}

#add-area{
  display:none;
}

.block{
  display:block;
  clear:both;
}

#area-info {
  margin-top:10%;
}

#area-description{
  float:none;
  margin:auto;
  min-height:500px;
}

.upvoted, .downvoted {
  color: #ED5417;
}

/* for the new area form */
.form-element{
  margin:auto;
  max-width:700px;
  display:block;
  padding:0 20px;
}

.form-element textarea{
  width:100%;

}

.area-submit{
  padding-top:1%;
}

.upvote, .downvote{
  color:#fff;
}

.upvoted, .downvoted {
  color: #000;
}