// Place all the styles related to the overlays controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.restaurant, .hotel{
  display:block;
  margin-bottom:20px;
  padding:10px 5px;

}

.restaurant-image, .hotel-image{
  text-align: right;

  img{
    border:1px solid #777;
  }
}

.new-area-link{
  display:block;
  margin-top:20px;
}

// Map
#map-canvas{
  height:550px;
  border:1px solid #777;
  margin-bottom:50px;
}

.control-container{
  margin:5px;
  cursor:pointer;

}

.map-control{
  font-family: Roboto,Arial,sans-serif;
  font-size: 11px;
  font-weight: 400;
  direction: ltr;
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: Roboto, Arial, sans-serif;
  -webkit-user-select: none;
  font-size: 11px;
  background-color: rgb(255, 255, 255);
  padding: 1px 6px;
  border-radius: 2px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.14902);
  -webkit-box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
  box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
  width:80px;
}

.map-control:hover{
  background-color: rgb(235,235,235);
}

#error-box {
  text-align:center;
}

#error-box h2{
  text-align:center;
  color: #ff0000;
}

.area-intro{
  color: #707070;
  margin-top:40px;
}

.area-name{
  color: #444;
}

h1.area-name{ font-size: 5em; margin-bottom:40px;}
h2.area-name{ text-align:center; width:100%; }

.hotels, .restaurants, .attractions {
  h3{
    text-align:center;
    margin-bottom:25px;
    border-bottom:1px solid #ccc;
    padding-bottom:15px;
  }
}

#area_description {
  height:300px;
}

