// Place all the styles related to the cities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#areas h1{
  padding-top:1%;
}

#primary-area {
  font-size: 4em;
  padding-top:1%
}

#primary-area h2{
  color:#333;
}

#area-description{
  float:none;
  margin:auto;
}
