@import 'bootstrap';
html{
  height:100%;
}
body{
  background-color:#f5f5f5;
  height:100%;
}
.center{
  text-align: center;
}

.copyright-container{
  position:relative;
  height:200px;
  .copyright{
    position:absolute;
    text-align: center;
    width:100%;
    bottom:10px;
    color:#999;
  }
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-shadow: 0px 1px 2px #222;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 11px;
  font-weight: bold;
  line-height: 1;
}

.navbar.navbar-top{
  border-bottom:1px solid #387099;
  margin-bottom:0;
  background-color:#4283B2;
  border-radius:0;
}

#footer{
  margin-top:40px;
  border-top:1px solid #ccc;
  background-color:#efefef;
  background-image: image-url('whitey.png');
}

.error-container{
  height:100%;
}
