@import 'bootstrap';
body{
  background-color:#f5f5f5;
}
.center{
  text-align: center;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #f5f5f5;
  text-shadow: 0px 1px 1px #999;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 11px;
  font-weight: bold;
  line-height: 1;
}

.navbar.navbar-top{
  border-bottom:1px solid #387099;
  margin-bottom:0;
  background-color:#4283B2;
  border-radius:0;
}

#footer{
  margin-top:40px;
  height:200px;
  border-top:1px solid #ccc;
  background-color:#efefef;
  background-image: image-url('whitey.png');
}
