
.jumbotron {
  height:350px;
  background-color:#4283B2;
  padding:30px 0;
  margin-bottom:0;
  border-top:1px solid #468CBF;
  border-bottom:1px solid #777;


    h1{
      color:#fff;
      text-shadow: 0px 1px 5px #222;
      margin-bottom:30px; 
    }
  
}

.cities{

  padding:100px 0 100px 0;
  background: image-url('low_contrast_linen.png');
  box-shadow:inset 0px 5px 10px #222;

  .city-section{
    h3{
      color:#ccc;
      margin-bottom:20px;
      text-shadow:1px 2px #222;
      font-family: "Bitter";
      font-weight:bold;
      text-align:center;
    }

    img{
      box-shadow: 0px 0px 10px #222;
      display:block;
      margin:auto;
    }
  }
}

.search-submit{
  
  background-color:#fff;
  border:1px solid #387099;
  font-family:"Bitter";
  color: #777;

  &:hover{
    color:#555;
    background-color:#fff;
  }
}

.separator {

  height:1px;
  margin-bottom:20px;
}

.city-list{
  border-top:1px solid #dedede;
  padding-top:10px;
    ul {
      li {
        display:inline-block;
        vertical-align: middle;
        width:18%;
        min-width:100px;
        font-size:18px;
        list-style-type: none;
        padding:5px 0;
        text-align:center;
      }
    }
}

.random-cities, .popular-cities {
  margin-bottom:20px;
  color:#555;
  font-weight:bold;
  font-family: "Bitter"
}

.city-results{
  padding:75px 0;
}
