
.jumbotron {
  height:500px;
  padding:60px 0 30px 0;
  margin-bottom:0;
  background: image-url('tokyo_2.jpg') no-repeat center 10%;
  background-size: cover;
  border-bottom:1px solid #ccc;

    h1{
      color:#fff;
      text-shadow: 0px 1px 5px #222;
      margin-bottom:50px; 
    }
  
}

.cities{
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #f5f5f5;  

  .city-section{
    h3{
      color:#444;
      margin-top: 40px;
      margin-bottom: 0;
      text-align:center;
    }

    img{
      border: 1px solid #444;
      box-shadow: 0 0 5px #aaa;
      display:block;
      margin:auto;
    }
  }
}

.search-submit{
  
  background-color:#fff;
  border:1px solid #387099;
  font-family:"Bitter";
  color: #777;

  &:hover{
    color:#555;
    background-color:#fff;
  }
}

.separator {
  height:1px;
  margin-bottom:20px;
}

.city-results {
  padding:50px 0 50px 0;
  background: image-url('low_contrast_linen.png');
  box-shadow:inset 0px 5px 10px #222;
  border-top:1px solid #555;
}

.city-list{
  
    ul {
      li {
        display:inline-block;
        vertical-align: middle;
        width:18%;
        min-width:100px;
        font-size:18px;
        list-style-type: none;
        padding:5px 0;  
        text-align:center;

        a {
          color:#dedede;
          text-shadow:1px 2px #222;
          font-family: "Bitter";
          font-weight:bold;

          &:hover {
            text-decoration: none;
            color: #eee;
          }
        }
      }
    }
}
