
.jumbotron {
  height:300px;
  background-color:#4283B2;
  padding:30px 0;
  margin-bottom:0;
  border-top:1px solid #468CBF;
  border-bottom:1px solid #555;


    h1{
      color:#fff;
      text-shadow: 0px 1px 7px #777;
      margin-bottom:30px; 
    }
  
}
.cities{

  padding:100px 0 50px 0;

  .city-section{
    h3{
      color:#555;
      margin-bottom:20px;
      font-family: "Bitter";
      font-weight:bold;
      text-align:center;
    }

    img{
      border:1px solid #757575;
      //box-shadow: 1px 1px 2px 0px #aaa;
      display:block;
      margin:auto;
    }
  }
}

.search-submit{
  text-shadow:1px 1px #777;
  background-color:#4283B2;
  border:1px solid #387099;
  &:hover{
    background-color: #387099;
  }
}

.separator {

  height:1px;
  margin-bottom:20px;
}

.city-list{
  border-top:1px solid #dedede;
  padding-top:10px;
    ul {
      li {
        display:inline-block;
        width:33%;
        font-size:18px;
        list-style-type: none;
        padding:5px 0;
        text-align:center;
      }
    }
}

.random-cities, .popular-cities {
  margin-bottom:20px;
  color:#555;
  font-family: "Arial"
}
