// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#areas h1{
  padding-top:1%;
}


.primary {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding:1%;
}

.primary h2{
  color:#333;
  font-size: 6em;
}

#area-description{
  float:none;
  margin:auto;
}