<%= provide (:title), 'Map' %>

  <div id = "map" class = "no-padding container-fluid">
    <div id="map-canvas">
    </div>
  </div>
  <div id="overlay-details">
    <div id="color-palette">
      
    </div>
    <div>
      <button id="delete-button">Delete Overlay</button>
    </div>
  </div>