<%= provide (:title), 'Map' %>

  <%= content_tag :div, :id => "map", :class => "no-padding container-fluid", :data => {signed_in: user_signed_in?} do %>
    <div id="map-canvas">
    </div>
  <% end %>
   <%= render 'map/modals' %>
  </div>



