<div id = "footer" class ="container-fluid">
  <div class= "row-fluid">
    <span class = "col-md-12 col-sm-12 col-xs-12 copyright-container">
       <span class = 'copyright'> &copy; 2015 Staybl.com </span>
    </span>
  </div>

</div>