<header class="navbar navbar-fixed-top navbar-inverse ">
  <div class="navbar-inner">
    <div class="container-fluid top-navbar">
      <%= link_to "Staybl", root_path, id: "logo" %>
      <nav>
          <ul class="nav pull-right home-nav">
          <% if administrator_signed_in? %>
          <li><%= link_to "Sign Out", destroy_administrator_session_path, :method => :delete %></li>
          <% end %>
        </ul>
      </nav>
      <% if @map_search %>
      <div id = "map-search">
        <input id="map-search-box" type="text" placeholder="Search" />
      </div>
      <% end %>
    </div>
  </div>
</header>